@value ctaText: hsl(356, 100%, 66%);
@value ctaHover: hsl(355, 100%, 74%);
@value headings: hsl(208, 49%, 24%);
@value text: hsl(0, 0%, 100%);
@value footertext: hsl(240, 2%, 79%);
@value bodyCopy: hsl(207, 13%, 34%);
@value footerBackground: hsl(240, 10%, 16%);
@value bgLigth: hsl(13, 100%, 72%);
@value bgRed: hsl(353, 100%, 62%);
.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 70vh;
  background-image: url("../public/assets/bg-pattern-intro.svg");
  background-repeat: no-repeat;
  background-size: 180%;
  background-position-x: 30%;
  background-position-y: 52%;
  background-color: bgLigth;
  border-radius: 0 0 0 100px;
  color: text;
}

.container .header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 100px;
  width: 100%;
  height: 30%;
}

.container .header .wrapper .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .wrapper .nav .logo {
  height: 30px;
}

.container .header .wrapper .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.container .header .wrapper .nav ul li {
  margin: 10px;
}

.container .header .wrapper .nav ul li img {
  margin-left: 5px;
}

.container .header .wrapper .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .wrapper .buttons .button {
  margin-left: 15px;
  border: none;
  padding: 10px;
  width: 120px;
  border-radius: 20px;
  background-color: text;
  color: ctaText;
  font-weight: bold;
  cursor: pointer;
}

.container .header .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.container .header .texts h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.container .header .texts h4 {
  font-weight: normal;
}

.container .header .texts .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .header .texts .buttons .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  margin: 20px 5px;
  padding: 10px 0;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  color: ctaText;
  background-color: text;
}

.container .header .texts .buttons :last-child {
  background-color: transparent;
  color: text;
  border: 1px solid text;
}

.container .firstSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: headings;
}

.container .firstSection h1 {
  font-size: 40px;
  margin: 100px 0 50px 0;
}

.container .firstSection .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .firstSection .description .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
}

.container .firstSection .description img {
  width: 600px;
}
/*# sourceMappingURL=Home.module.css.map */